{% extends 'layout.html' %}
{% block content %}

<div class="card bg-dark text-white featured-project border-0">
	<img src="https://images.pexels.com/photos/326311/pexels-photo-326311.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
	     class="card-img border-0" alt="..." height="450px" width="100%">
	<div class="card-img-overlay mt-5 ml-5">
		<div class="card-title"><span class="featured-text mr-3">Site of the day</span><span
						class="date-font">July 31, 2019</span></div>
		<div class=""><i class="material-icons p-2 border rounded-circle share-icon">share</i></div>
		<div>
			<button type="button" class="btn btn-lg btn-outline-info">Info</button>
			<button type="button" class="btn btn-lg btn-outline-secondary ">Secondary</button>
		</div>
	</div>
</div>


{% endblock %}