<!--	First Navbar -->
<nav class="navbar navbar-light navbar-expand-md justify-content-center">
    <div class="navbar-brand d-flex w-50 mr-auto brand-size ml-4  font-weight-bold">	<span class="ml-4 py-4">
	<a class="text-dark" href="#"><span class="border-bottom">ENGLISH </span></a>
	</span>

    </div>
    <div class="navbar-collapse collapse w-100">
        <ul class="navbar-nav w-100 justify-content-center">
            <li class="nav-item">
                <a class="nav-link text-dark upper-text" href="#">Ratings for design, creativity and innovation in IPs and projects</a>
            </li>
        </ul>
        <ul class="nav navbar-nav ml-auto w-100 justify-content-end mr-4">
            <li class="nav-item">
                <a class="nav-link icon-fonts" href="#"><i class="feather-16" data-feather="instagram"></i></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"><i class="feather-16" data-feather="twitter"></i></a>
            </li>
	            <li class="nav-item">
                <a class="nav-link" href="#"><i class="feather-16" data-feather="facebook"></i></a>
            </li>
        </ul>
    </div>
</nav>

<!--
example 3 - Navbar with brand left, links on center and right that collapse into the vert mobile menu
-->
<nav class="navbar navbar-light navbar-expand-md justify-content-center border">
    <div class="navbar-brand d-flex w-50 mr-auto brand-size ml-4  font-weight-bold"><i
				    class="material-icons py-3">menu</i> <span class="mt-1 p-3 custom-pad border-right">MENU</span>
	    <span class="ml-4"><i
				    class="material-icons py-3">search</i> </span>

    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsingNavbar3">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse w-100" id="collapsingNavbar3">
        <ul class="navbar-nav w-100 justify-content-center">
            <li class="nav-item">
                <a class="nav-link nav-title text-dark" href="#">Rate &middot; A &middot; Peer</a>
            </li>
        </ul>
        <ul class="nav navbar-nav ml-auto w-100 justify-content-end">
            <li class="nav-item">
                <a class="nav-link nav-font text-dark font-weight-bold p-4" href="#">REGISTER/ LOG IN</a>
            </li>
            <li class="nav-item submit-color">
                <a class="nav-link nav-font text-white font-weight-bold p-4" href="#">SUBMIT YOUR SITE !</a>
            </li>
        </ul>
    </div>
</nav>
