<!--	First Navbar -->
<nav class="navbar navbar-light navbar-expand-md justify-content-center border-bottom sticky-top">
    <div class="navbar-brand d-flex w-50 mr-auto brand-size ml-4  font-weight-bold">	<span class="ml-4 py-3">
	<a class="text-dark" href="#"><span class="border-bottom">ENGLISH </span></a>
	</span>

    </div>
    <div class="navbar-collapse collapse w-100">
        <ul class="navbar-nav w-100 justify-content-center">
            <li class="nav-item">
                <p class="nav-link text-dark upper-text mt-2 py-3">Ratings for design, creativity and innovation in IPs and projects</p>
            </li>
        </ul>
        <ul class="nav navbar-nav ml-auto w-100 justify-content-end mr-4">
            <li class="nav-item">
                <a class="nav-link icon-fonts hvr-float-shadow" href="https://www.instagram.com/james_mutahi/"><i class="feather-16" data-feather="instagram"></i></a>
            </li>
            <li class="nav-item">
                <a class="nav-link hvr-float-shadow" href="https://twitter.com/Jamoh007"><i class="feather-16" data-feather="twitter"></i></a>
            </li>
	            <li class="nav-item">
                <a class="nav-link hvr-float-shadow" href="https://www.facebook.com/james.mutahi.39"><i class="feather-16" data-feather="facebook"></i></a>
            </li>
            <li class="nav-item hvr-float-shadow">
                <a class="nav-link" href="https://www.linkedin.com/in/james-mutahi-a651b9147/"><i class="feather-16" data-feather="linkedin"></i></a>
            </li>
        </ul>
    </div>
</nav>
