{% extends 'layout.html' %}
{% load bootstrap4 %} {% load staticfiles %}

{% block content %}
<div class="container mt-5">
	<div class="card border p-5">
		<div class="card-header border-bottom">
      <h3>Post to Timeline</h3>
		</div>
		<form action="{%url 'new_post'%}" method="post" enctype="multipart/form-data">
			<div class="card-body border-0">
				{%csrf_token%}

				{% bootstrap_form form%}

			</div>
			<div class="card-footer border-top">
				<input type="submit" class="btn btn-success btn-lg animated pulse infinite slow" value="POST">

			</div>
		</form>
	</div>
</div>

{% endblock %}