{%extends 'layout.html'%}
{% load bootstrap4 %}
{% block content %}
<div class="container mt-5">
	{% for post in posts %}
	<div class="row mt-5">
		<div class="col-md-3">
			<img src="{{ post.image1.url }}" class="img-thumbnail" width="500">
		</div>
		<div class="col-md-9">
			<a class="user-head" href="{% url 'aboutuser' user_id=post.user.id %}"><h1>{{ post.user }}</h1></a>
			<p>Project Name: {{ post.sitename }}</p>
			<p>Description: {{ post.desc }}</p>
			<p>Technologies: {{ post.technologies }}</p>
			<p>Categories: {{ post.categories }}</p>
			<p class=""><a href="{{ post.link }}">
				<button class="btn hvr-bubble-float-bottom">LINK</button>
			</a></p>
			<p class="text-muted float-right">{{ post.post_date }}</p>
		</div>
	</div>
	<hr>
	{% endfor %}
</div>
{% endblock %}