{%extends 'layout.html'%}
{% load mathfilters %}
{% block content %}
<div class="container mt-5 border-left border-right project-font">
	<h1 class="text-center">{{ project.sitename }} by <span class="text-uppercase">{{ project.user }}</span></h1>
	<hr style="width: 150px">
	<div class="row mt-4">
		<div class="col-md-6 border-right">
			<div class="project-info p-5">
				<h2 class="text-center font-weight-bold">ABOUT </h2>
				<hr style="width: 80px">
				<h5 class="mt-3 font-weight-bold">Description</h5>
				{{ project.desc }}
				<h5 class="mt-3 font-weight-bold">Categories</h5>
				{{ project.categories }}
				<h5 class="mt-3  font-weight-bold">Technologies</h5>
				{{ project.technologies }}
				<p class="text-muted mt-3"> Posted {{ project.post_date|timesince }} ago </p>
			</div>
			<div class="ml-5">
				<h2 class="text-center font-weight-bold">IMAGES</h2>
				<hr style="width: 80px">
				<div id="myCarousel" class="carousel slide mt-5 mb-5" data-interval="3000" data-ride="carousel"
				     style="width: 90%;">
					<!-- Caheroku pg:push tribune DATABASE_URL --app mtr1bunerousel indicators -->
					<ol class="carousel-indicators">
						<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
						<li data-target="#myCarousel" data-slide-to="1"></li>
						<li data-target="#myCarousel" data-slide-to="2"></li>
					</ol>
					<!-- Wrapper for carousel items -->
					<div class="carousel-inner">
						<div class="carousel-item active">
							<img src="{{ project.image1.url }}" alt="First Slide" style="max-width: 100%;">
							<div class="carousel-caption d-none d-md-block">
								<h5>First Image</h5>
								<p>{{ project.sitename }} by {{ project.user }}</p>
							</div>
						</div>
						<div class="carousel-item">
							<img src="{{ project.image2.url }}" alt="First Slide" style="max-width: 100%;">
							<div class="carousel-caption d-none d-md-block">
								<h5>Second Image</h5>
								<p>{{ project.sitename }} by {{ project.user }}</p>
							</div>
						</div>
						<div class="carousel-item">
							<img src="{{ project.image3.url }}" alt="First Slide" style="max-width: 100%;">
							<div class="carousel-caption d-none d-md-block">
								<h5>Third Image</h5>
								<p>{{ project.sitename }} by {{ project.user }}</p>
							</div>
						</div>
					</div>
					<!-- Carousel controls -->
					<a class="carousel-control-prev" href="#myCarousel" data-slide="prev">
						<span class="carousel-control-prev-icon"></span>
					</a>
					<a class="carousel-control-next" href="#myCarousel" data-slide="next">
						<span class="carousel-control-next-icon"></span>
					</a>
				</div>
			</div>
		</div>
		<div class="col-md-6 text-center">
			<h2 class="text-center mt-5 font-weight-bold">RATINGS</h2>
			<hr style="width: 80px">
			<a href="{% url 'review' project.id %}">
				<button class="btn btn-lg btn-outline-info mt-3"> RATE</button>
			</a>
			{% if ratings %}
			<div class="table-responsive">
				<table class="table table-hover table-dark mt-5">
					<thead>
					<tr>
						<th scope="col"><i class="feather-16 ml-5" data-feather="user"></i></th>
						<th scope="col">Usability</th>
						<th scope="col">Design</th>
						<th scope="col">Content</th>
						<th scope="col">Average</th>
					</tr>
					</thead>
					<tbody>
					{% for rating in ratings %}
					<tr>
						<th scope="row" class="toggle-review"><img class="img-responsive rounded-circle"
						                                           src="{{rating.user.profile.image.url}}" height="30"
						                                           width="30"><b class="ml-2">{{rating.user.username}}</b>
						</th>
						<td>{{rating.usability_rating}}</td>
						<td>{{rating.design_rating}}</td>
						<td>{{rating.content_rating}}</td>
						<td>{{ rating.content_rating | add:rating.design_rating |add:rating.usability_rating|div:3|truncatechars:6}}
						</td>
					</tr>
					<tr class="bg-dark">
						<th scope="row" class="bg-dark"><span class="text-danger">Comment: </span></th>
						<td colspan="4">{{ rating.review }}</td>
					</tr>
					{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
		{% else %}
		<h5 class="text-center">No reviews yet. Be the first to review</h5>
		{% endif %}

	</div>
</div>
{% endblock %}