<!--sidenav-->
<div id="mySidenav" class="sidenav">
	<a href="javascript:void(0)" class="closebtn px-4" onclick="closeNav()">&times;</a>
	{% if user.is_authenticated %}
	<a href="{% url 'index' %}" class="pl-5 p-4 border-bottom border-top mt-2 hvr-forward">Home</a>
	<a href="{% url 'project' %}" class="pl-5 p-4 border-bottom hvr-forward">Projects</a>
	<a href="#" class="pl-5 p-4 border-bottom hvr-forward">Subscribe</a>
	<a href="#" class="pl-5 p-4 border-bottom hvr-forward">Contact</a>
	<p class="mt-5 text-center border pt-3 pb-3">
		<a class="nav-link p-0 m-2" href="https://www.facebook.com/james.mutahi.39"
		   style="display: inline; background: transparent;"><i class="feather-16"
		                                                        data-feather="facebook"></i></a>
		<a class="nav-link p-0 m-2" href="https://www.instagram.com/james_mutahi/"
		   style="display: inline; background: transparent;"><i class="feather-16"
		                                                        data-feather="instagram"></i></a>
		<a class="nav-link p-0 m-2" href="https://twitter.com/Jamoh007" style="display: inline; background: transparent;"><i
						class="feather-16"
						data-feather="twitter"></i></a>
		<a class="nav-link p-0 m-2" href="https://www.linkedin.com/in/james-mutahi-a651b9147/"
		   style="display: inline; background: transparent;"><i class="feather-16"
		                                                        data-feather="linkedin"></i></a>
	</p>
	{% else %}
	<a href="#" class="pl-5 p-4 border-top border-bottom mt-2 hvr-forward">Login</a>
	<a href="#" class="pl-5 p-4 border-bottom hvr-forward">Home</a>
	<a href="{% url 'project' %}" class="pl-5 p-4 border-bottom hvr-forward">Projects</a>
	<a href="#" class="pl-5 p-4 border-bottom hvr-forward">Subscribe</a>
	<a href="#" class="pl-5 p-4 border-bottom hvr-forward">Contact</a>
	<p class="mt-5 text-center border-bottom border-top pt-3 pb-3">
		<a class="nav-link p-0 m-2 hvr-float-shadow" href="https://www.facebook.com/james.mutahi.39"
		   style="display: inline; background: transparent;"><i class="feather-16" data-feather="facebook"></i></a>
		<a class="nav-link p-0 m-2 hvr-float-shadow" href="https://www.instagram.com/james_mutahi/"
		   style="display: inline; background: transparent;"><i class="feather-16" data-feather="instagram"></i></a>
		<a class="nav-link p-0 m-2 hvr-float-shadow" href="https://twitter.com/Jamoh007" style="display: inline; background: transparent;"><i
						class="feather-16" data-feather="twitter"></i></a>
		<a class="nav-link p-0 m-2 hvr-float-shadow" href="https://www.linkedin.com/in/james-mutahi-a651b9147/"
		   style="display: inline; background: transparent;"><i class="feather-16" data-feather="linkedin"></i></a>
	</p>
	{% endif %}
</div>